

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background: #c7e0db;
}


.trade-mark {
    text-align: center;
    background: #b84592;
    margin: 10px auto;
    width: 40%;
    font-family: "Poppins", sans-serif;
}

.layout {
    width: 40%;
    margin: 0 auto;
    padding: 12px 12px;
    background: rgba(0, 0, 0, 0.58);
    text-align: center;

}

input[type="text"], input[type="email"], input[type="password"] {
    float: left;
    width: 100%;
    background: no-repeat;
    margin: 0;
    font-family: Open Sans;
    font-size: 13px;
    padding: 16px 16px 16px 45px;
    border: medium none;
}
input[type="submit"] {
    padding: 9px 0px 5px;
    font-size: 1em;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #b84592;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
	font-family: 'Hind', sans-serif;
    margin: 24px auto 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 8px;
}
input[type="submit"]:hover,.content-wthree input[type="submit"]:hover {
    background: cornflowerblue;
}

ul.top-links li a i.fa {
    color: #000;
    background-color: #fff;
    width: 38px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
ul.top-links li {
    margin-left: 5px;
    display: inline-block;
}
ul.top-links {
    margin: 20px auto;
    padding: 0px;
}
ul.top-links li a i.fa.fa-facebook {
    background: #3b5998;
    color: #fff;
}
ul.top-links li a i.fa.fa-twitter {
    background: #1da1f2;
    color: #fff;
}
ul.top-links li a i.fa.fa-linkedin {
    background: #00a0dc;
    color: #fff;
}
i.fa.fa-paper-plane-o {
    font-size: 50px;
    color: #e64b50;
    color: #b84592;
}
ul.top-links li a i.fa.fa-facebook:hover ,ul.top-links li a i.fa.fa-twitter:hover,ul.top-links li a i.fa.fa-linkedin:hover  {
    transform: scale(1.4);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    z-index: 1;
}
.cfield {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 19px;
    border: 2px solid #e8ecec;
    border-radius: 8px;
}


.top-nav a{
     text-decoration: none;
     color: #fff;
     padding: 5px 10px;
     text-align: center;
}


.close-popup {
    position: absolute;
    background-color: #b84592;
    top: -20px;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0;
    right: -20px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
 }

@media (min-width: 576px){
    .account-body {
        padding: 40px 60px;
    }
    .account-popup {
        width: 460px;
        border-radius: 8px;
        text-align: center;
    }
}

.account-body > form {
    float: left;
    width: 100%;
    margin-top: 30px;

    }

.account-body > form .cfield i {
    right: auto;
    left: 15px;
    position: absolute;
    font-size: 19px;
    top: 15px;
    display: inline;
}

.account-popup-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(20,31,114,0.6);
    opacity: 1;
    z-index: 99;
    overflow-Y: scroll;
    display: none;
}

#signModal{
    float: left;
    width: 100%;
    font-family: 'Quicksand', serif !important;
    color: #222222;
    font-weight: bold;
    margin: 0;
    margin-bottom: 12px;
    line-height: 10px;
    text-align: center;
}