<div class="modal fade" id="lModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content account-popup">
            <div class="modal-body account-body">
                <span class="close-popup" data-dismiss="modal"><i class="la la-close"></i></span>
                <h3 class="modal-title" id="signModal">Login</h3>

                <form action="" method="post">
                    {{ lform.hidden_tag() }}
                    <div class="cfield">
                        {{ lform.email(placeholder="Email")}}
                        <i class="la la-user"></i>
                    </div>
                    <div class="cfield">
                        {{ lform.password(placeholder="Password")}}
                        <i class="la la-key"></i>
                    </div>

                    <input type="submit" value="SIGN IN" name="sign-up">

                    <div class="social_icons agileinfo">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>