{% extends "layout/base.html" %}

{% block content %}
			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Pricing Plan		
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="price.html"> Pricing Plan</a></p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start price Area -->
			<section class="price-area section-gap price-page-prices" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Choose the best pricing for you</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Body Guard</h4>
								</div>
								<ul class="lists">
									<li>2.5 GB Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 39 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Dog Squad</h4>
								</div>
								<ul class="lists">
									<li>10 GB Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 69 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Gun Man</h4>
								</div>
								<ul class="lists">
									<li>Unlimited Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 99 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>				
						</div>	
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Night Guard</h4>
								</div>
								<ul class="lists">
									<li>2.5 GB Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 39 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Gate man</h4>
								</div>
								<ul class="lists">
									<li>10 GB Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 69 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Office Guard</h4>
								</div>
								<ul class="lists">
									<li>Unlimited Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 99 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>				
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Home Guard</h4>
								</div>
								<ul class="lists">
									<li>2.5 GB Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 39 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Security Team</h4>
								</div>
								<ul class="lists">
									<li>10 GB Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 69 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price no-padding">
								<div class="price-top">
									<h4>Online Security</h4>
								</div>
								<ul class="lists">
									<li>Unlimited Space</li>
									<li>Secure Online Transfer</li>
									<li>Unlimited Styles</li>
									<li>Customer Service</li>
								</ul>
								<div class="price-bottom">
									<div class="price-wrap d-flex flex-row justify-content-center">
										<span class="price">$</span><h1> 99 </h1><span class="time">Per <br> Month</span>
									</div>
									<a href="#" class="primary-btn header-btn">Get Started</a>
								</div>
							</div>				
						</div>																					
					</div>
				</div>	
			</section>
			<!-- End price Area -->		
			
			<!-- Start fact Area -->
			<section class="facts-area section-gap" id="facts-area">
				<div class="container">
					<div class="row">
						<div class="col single-fact">
							<h1 class="counter">2536</h1>
							<p>Projects Completed</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">6784</h1>
							<p>Really Happy Clients</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">1059</h1>
							<p>Total Tasks Completed</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">2239</h1>
							<p>Cups of Coffee Taken</p>
						</div>	
						<div class="col single-fact">
							<h1 class="counter">435</h1>
							<p>In House Professionals</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end fact Area -->										
{% endblock %}