<div class="modal fade" id="sModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content account-popup">
            <div class="modal-body account-body">
                 <h3 class="modal-title" id="exampleModalLabel">Create Account</h3>
                <span class="close-popup" data-dismiss="modal"><i class="la la-close"></i></span>
                <form action="" method="post">
                    <div class="cfield">
                        {{ sform.name(placeholder="Full Name") }}
                        <i class="la la-user" aria-hidden="true"></i>
                    </div>
                    <div class="cfield">
                        {{ sform.username(placeholder="Username") }}
                        <i class="la la-user" aria-hidden="true"></i>
                    </div>
                    <div class="cfield">
                        {{ sform.email(placeholder="Email")}}
                        <i class="la la-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="cfield">
                        {{ sform.password(placeholder="Password")}}
                       <i class="la la-key" aria-hidden="true"></i>
                    </div>

                    <input type="submit" value="SIGN UP" name="sign-up">

                    <div class="social_icons agileinfo">
                        <ul class="top-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>